.mini-pro {
	height: 30px;
	width: 30px;
	border-radius: 10%;
}

.mini-nic {
	align-content: left;
}

.feed-img {
	width: 500px;
	/* 이미지가 부모 요소(td)에 꽉 차도록 설정 */
	height: 300px;
	/* 이미지의 비율을 유지하면서 크기를 조정 */
}

.button-like {
	width: 70px;
	height: 30px;
}

.feed-move {
	border: none;
	background-color: white;
}

.cate-choice {
	display: flex;
	justify-content: space-between; /* 버튼 사이에 일정한 간격을 줍니다 */
	padding: 0; /* 기본 패딩 제거 */
	list-style: none; /* 기본 리스트 스타일 제거 */
}

.cate-choice li {
	margin: 0 10px; /* 각 리스트 항목에 좌우 여백을 추가하여 간격을 설정 */
}

.cate-choice button {
	padding: 10px 20px; /* 버튼의 크기를 조정 */
	cursor: pointer;
	border-radius: 10%;
}